<h1>Home#index</h1>
<div data-controller="hello">
    
    <div data-hello-target="add_form_field" id="results">
        <%= link_to "Add Form", "/", data: { action: "click->hello#showForm" } %>
    </div>
</div>